# Add experimental/dexterity.cfg to buildout.cfg to test this

[buildout]
extends =
    http://good-py.appspot.com/release/dexterity/1.0-next

auto-checkout +=
    plone.dexterity
    plone.app.dexterity
    plone.z3cform
    plone.app.z3cform
    example.dexterity
    example.conference
    plone.app.relationfield
    five.intid
    plone.app.intid
    plone.supermodel
    five.grok

[instance]
eggs +=
    plone.app.dexterity
    z3c.blobfile
    example.dexterity
    example.conference

[versions]
grokcore.view = 1.13.5

[sources]
# Dexterity
plone.alterego                  = git https://github.com/plone/plone.alterego
plone.supermodel                = git https://github.com/plone/plone.supermodel
plone.behavior                  = git https://github.com/plone/plone.behavior
plone.folder                    = git https://github.com/plone/plone.folder
plone.namedfile                 = git https://github.com/plone/plone.namedfile
plone.rfc822                    = git https://github.com/plone/plone.rfc822

plone.autoform                  = git https://github.com/plone/plone.autoform
plone.z3cform                   = svn http://svn.zope.org/repos/main/plone.z3cform/trunk
plone.app.z3cform               = git https://github.com/plone/plone.app.z3cform

z3c.formwidget.query            = svn http://svn.zope.org/repos/main/z3c.formwidget.query/trunk
plone.formwidget.autocomplete   = git https://github.com/plone/plone.formwidget.autocomplete
plone.formwidget.contenttree    = git https://github.com/plone/plone.formwidget.contenttree
plone.formwidget.namedfile      = git https://github.com/plone/plone.formwidget.namedfile

plone.app.relationfield         = git https://github.com/plone/plone.app.relationfield
z3c.relationfield               = svn http://svn.zope.org/repos/main/z3c.relationfield/trunk

plone.app.textfield             = git https://github.com/plone/plone.app.textfield

plone.dexterity                 = git https://github.com/plone/plone.dexterity

five.grok                       = svn http://svn.zope.org/repos/main/five.grok/trunk
plone.directives.dexterity      = git https://github.com/plone/plone.directives.dexterity
plone.directives.form           = git https://github.com/plone/plone.directives.form

plone.schemaeditor              = git https://github.com/plone/plone.schemaeditor
plone.app.dexterity             = git https://github.com/plone/plone.app.dexterity

collective.z3cform.datetimewidget = svn https://svn.plone.org/svn/collective/collective.z3cform.datetimewidget/trunk

# behaviors
plone.app.stagingbehavior       = git https://github.com/plone/plone.app.stagingbehavior
plone.app.lockingbehavior       = git https://github.com/plone/plone.app.lockingbehavior
plone.app.versioningbehavior    = git https://github.com/plone/plone.app.versioningbehavior
plone.app.referenceablebehavior = git https://github.com/plone/plone.app.referenceablebehavior

# multi-lingual
plone.multilingual              = git https://github.com/plone/plone.multilingual
plone.multilingualbehavior      = git https://github.com/plone/plone.multilingualbehavior

# other
collective.monkeypatcher        = svn https://svn.plone.org/svn/collective/collective.monkeypatcher/trunk
five.localsitemanager           = svn http://svn.zope.org/repos/main/five.localsitemanager/trunk
zope.filerepresentation         = svn http://svn.zope.org/repos/main/zope.filerepresentation/trunk

# Theme
plonetheme.sunburst             = git https://github.com/plone/plonetheme.sunburst

# playground
example.dexterity               = svn https://svn.plone.org/svn/collective/example.dexterity/trunk

# tutorial
example.conference              = svn https://svn.plone.org/svn/collective/example.conference/trunk
collective.wtf                  = svn https://svn.plone.org/svn/collective/collective.wtf/trunk

# intid
five.intid                      = git https://github.com/plone/five.intid
plone.app.intid                 = git https://github.com/plone/plone.app.intid

[test]
eggs += 
    z3c.form [test]
    plone.behavior
    plone.folder
    plone.namedfile [blobs]
    plone.autoform
    plone.z3cform
    plone.app.z3cform
    z3c.formwidget.query
    plone.formwidget.autocomplete
    plone.formwidget.contenttree
    plone.formwidget.namedfile
    five.intid
    plone.app.relationfield
    z3c.relationfield
    plone.app.textfield [tests,marshaler,supermodel]
    plone.dexterity
    five.grok
    plone.directives.dexterity
    plone.directives.form
    plone.schemaeditor
    plone.app.dexterity
    collective.z3cform.datetimewidget
    plone.rfc822
    plone.supermodel
    plone.app.intid

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml
